In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
disease_data = pd.read_csv("heart_disease_data.csv")
disease_data.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1

In [3]:
disease_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
disease_data.shape

(303, 14)

In [5]:
disease_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
#seperating the data and labels
x = disease_data.drop(columns='target',axis=1)
y = disease_data['target']

In [7]:
print(x.shape)

(303, 13)

In [8]:
disease_data['target'].value_counts()
# 1->Defective heart 
# 0->Good heart

target
1    165
0    138
Name: count, dtype: int64

In [10]:
#Train test split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=42)

In [15]:
#comparing the performance of the model 
#List of models 
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [16]:
def compare_model_train_test(): 
    for model in models:
        #training the model 
        model.fit(x_train,y_train)
        #evaluating the model 
        test_data_prediction = model.predict(x_test)

        accuracy = accuracy_score(y_test,test_data_prediction)
        print("Accuracy score of the ",model," - ", accuracy)

In [14]:
compare_model_train_test()

C:\Users\Mridul\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy score of the  LogisticRegression()  -  0.8032786885245902
Accuracy score of the  SVC(kernel='linear')  -  0.8032786885245902
Accuracy score of the  KNeighborsClassifier()  -  0.5901639344262295
Accuracy score of the  RandomForestClassifier()  -  0.8360655737704918

In [19]:
#Cross Validation 
#Logistic Regression 
cross_score_lr = cross_val_score(LogisticRegression(max_iter=1000),x,y, cv=5)
print(cross_score_lr)
mean_accuracy_lr = sum(cross_score_lr)/len(cross_score_lr)
mean_accuracy_lr = mean_accuracy_lr*100 
mean_accuracy_lr = round(mean_accuracy_lr,2)
print(mean_accuracy_lr)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
82.83

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]

In [21]:
#SVM 
cross_score_svc = cross_val_score(SVC(kernel='linear'),x,y, cv=5)
print(cross_score_svc)
mean_accuracy_svc = sum(cross_score_svc)/len(cross_score_svc)
mean_accuracy_svc = mean_accuracy_svc*100 
mean_accuracy_svc = round(mean_accuracy_svc,2)
print(mean_accuracy_svc)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
82.83

In [22]:
#Creating a function to compare the models
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [29]:
def compare_models_cv(): 
    for model in models: 
        cv_score = cross_val_score(model,x,y,cv=5)
        mean_accuracy = sum(cv_score)/len(cv_score)
        mean_accuracy = mean_accuracy*100 
        mean_accuracy = round(mean_accuracy,2)
        print("Cross Validation accuracies for ", model , " = ", cv_score)
        print("The accuracy % of the ",model,mean_accuracy)
        print("------------------------------------------")

In [30]:
compare_models_cv()

Cross Validation accuracies for  LogisticRegression(max_iter=1000)  =  [0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
The accuracy % of the  LogisticRegression(max_iter=1000) 82.83
------------------------------------------
Cross Validation accuracies for  SVC(kernel='linear')  =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
The accuracy % of the  SVC(kernel='linear') 82.83
------------------------------------------
Cross Validation accuracies for  KNeighborsClassifier()  =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
The accuracy % of the  KNeighborsClassifier() 64.39
------------------------------------------
Cross Validation accuracies for  RandomForestClassifier()  =  [0.86885246 0.8852459  0.78688525 0.81666667 0.76666667]
The accuracy % of the  RandomForestClassifier() 82.49
------------------------------------------