In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
#Label Enlcoding of breast cancer dataset

file_path= r"C:\Users\MRIDUL\Desktop\ML\data.csv"
cancer_data = pd.read_csv(file_path)

In [3]:
cancer_data.head()

         id diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst  Unnamed: 32
0    842302         M        17.99  ...          0.4601                  0.11890          NaN
1    842517         M        20.57  ...          0.2750                  0.08902          NaN
2  84300903         M        19.69  ...          0.3613                  0.08758          NaN
3  84348301         M        11.42  ...          0.6638                  0.17300          NaN
4  84358402         M        20.29  ...          0.2364                  0.07678          NaN

[5 rows x 33 columns]

In [4]:
#finding the count of M and B labels
cancer_data['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

In [5]:
#converting the labels as numerical values
#load the label encoder function
label_encode = LabelEncoder()

In [6]:
#encoding all the labels as 0 or 1
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [7]:
#appending the labels ato the dataframe 
cancer_data['target']=labels

In [8]:
cancer_data.head()

         id diagnosis  radius_mean  texture_mean  ...  symmetry_worst  fractal_dimension_worst  Unnamed: 32  target
0    842302         M        17.99         10.38  ...          0.4601                  0.11890          NaN       1
1    842517         M        20.57         17.77  ...          0.2750                  0.08902          NaN       1
2  84300903         M        19.69         21.25  ...          0.3613                  0.08758          NaN       1
3  84348301         M        11.42         20.38  ...          0.6638                  0.17300          NaN       1
4  84358402         M        20.29         14.34  ...          0.2364                  0.07678          NaN       1

[5 rows x 34 columns]

In [11]:
# 0 represents B 
# 1 represents M
#value counting
cancer_data['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

In [13]:
#Iris Data
file_path2 = r"C:\Users\MRIDUL\Desktop\ML\iris_data.csv"
iris = pd.read_csv(file_path2)
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [14]:
iris['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [15]:
label_enco = LabelEncoder()

In [16]:
labels = label_enco.fit_transform(iris.Species)

In [17]:
iris['target']=labels

In [18]:
iris.head

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species  target
0      1            5.1           3.5            1.4           0.2     Iris-setosa       0
1      2            4.9           3.0            1.4           0.2     Iris-setosa       0
2      3            4.7           3.2            1.3           0.2     Iris-setosa       0
3      4            4.6           3.1            1.5           0.2     Iris-setosa       0
4      5            5.0           3.6            1.4           0.2     Iris-setosa       0
..   ...            ...           ...            ...           ...             ...     ...
145  146            6.7           3.0            5.2           2.3  Iris-virginica       2
146  147            6.3           2.5            5.0           1.9  Iris-virginica       2
147  148            6.5           3.0            5.2           2.0  Iris-virginica       2
148  149            6.2           3.4            5.4           2.3  Iris-virginica       2
149  150            5.9           3.0            5.1           1.8  Iris-virginica       2

[150 rows x 7 columns]>

In [19]:
iris['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64